<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔮Mystery Petition🔮</title>
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/">            
            <h1>The Mysterious Petition</h1>
        </a>
        {{>fehler}}
        <div>
            <img id="crystal" src="https://hotemoji.com/images/dl/b/crystal-ball-emoji-by-twitter.png" alt="crystal-ball">
        </div>
        <p>If you landed on this page is beacause you know me and I know you. </p>
    </header>   
    <div id="content-wrap">
        {{{body}}}
    </div>
    <footer>
        <p>This website was built by me with Piotr's, Ariel's and Stack overflow's help</p>
        {{!-- <a href="https://theoldreader.com/kittens/" target="_blank">Check this out</a> --}}
        <p>© 2020 Ini Müller</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js" charset="utf-8"></script>
</body>
</html>
