<div>
    <p>Do you trust me? If you trust me, please sign this petition.</p>
</div>
<div class="container">
    <form method="POST">
        <input type="text" name="name" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">    
        <input type="hidden" name="signature">
        <canvas id="canvas" width="400" height="100"></canvas>
</div>
<div class="wrapper"> 
        <button>I do trust you</button>
</div>
       
    </form>

