<div>
    <p>Do you trust me? <br> ... <br> If you do, please sign this petition.</p>
</div>
<div class="container">
    <form method="POST">
        <input type="text" name="first" placeholder="First Name">
        <input type="text" name="last" placeholder="Last Name">    
        <input type="hidden" name="signature">
        <canvas id="canvas" width="400" height="100"></canvas>
</div>
<div class="wrapper"> 
        <button>I definitely trust you</button>
</div>
       
    </form>

