<div>
    <h1>Profile<br>...</h1>
</div>
<div class="container">
    <form method="POST">
        <input type="number" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City">    
        <input type="text" name="website" placeholder="Website">    
       
</div>t
<div class="wrapper"> 
        <button>Submi</button>
</div>
       
    </form>

