<div>
    <h1>Register<br>...</h1>
</div>
<div class="container">
    <form method="POST">
        <input type="text" name="first" placeholder="First Name">
        <input type="text" name="last" placeholder="Last Name">    
        <input type="email" name="email" placeholder="Email">    
        <input type="password" name="password" placeholder="Password">    
       
</div>
<div class="wrapper"> 
        <button>Register</button>
</div>
       
    </form>

<p class="">If you are already a member of my trusting crew, please <a href="/login">login</a></p>

