  
{{#rows}}
<h1>Thank you {{ first }}for trusting me</h1>

<img id="signatureimg" src="{{ signature }}">
{{!-- this comes from Piotr's canvas!  --}}
{{/rows}}
<a id="seesigners" href="/signers">See all {{ count }} signers</a>