  
{{#rows}}
<h1>Thank you for trusting me!</h1>

<img id="signatureimg" src="{{ signature }}">
{{!-- this comes from Piotr's canvas!  --}}
{{/rows}}
<a id="seesigners" href="/signers">See all {{ count }} trusting members</a>
   
<form method="POST" action="/deleteSignature">
   <input type="hidden" name="_csrf" value="{{csrfToken}}">

   <button id="deleteSignature">Delete your signature</button>
</form>

<a id="edit" href="/edit">Edit your profile</a>


{{!-- <form method="POST" action="/edit">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <button id="editProfile">Edit your profile</button>
</form> --}}