* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
    color: blueviolet;
    font-family: monospace;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Lemonada", cursive;
    text-align: center;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: antiquewhite;
}

#crystal {
    max-width: 100px;
    margin-top: 20px;
    margin-bottom: 60px;
    left: 47%;
    /* position: absolute; */
    top: 10%;

    position: relative;
}

footer {
    margin-top: 120px;
    position: sticky;
}

footer p {
    font-size: 12px;
    text-align: center;
    padding: 3px;
}

p {
    font-size: 18px;
    text-align: center;
}

/* a {
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
} */

canvas {
    background-color: black;
    border: blueviolet 1px solid;

    display: block;
    padding: 0;
    margin: auto;
}

.wrapper {
    text-align: center;
}

button {
    font-size: 14px;
    font-family: monospace;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: black;
    color: blueviolet;
    position: absolute;
    left: 47%;
    margin: 0 auto;
    margin-top: 40px;
}

#definitely {
    left: 43%;
}

#deleteSignature {
    left: 42%;
}
#editProfile {
    left: 42%;
    top: 140%;
}

input {
    font-size: 14px;
    font-family: monospace;
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 50px;
    /* background-color: black; */
    /* color: blueviolet; */
}

.myStyle {
    color: #f8f8ff;
}

form {
    margin-top: 20px;
    text-align: center;
}

#allsigners {
    margin-top: 5px;
    text-align: center;
}

#seesigners {
    font-size: 18px;
    margin-left: 350px;
    margin-top: 5px;
    /* text-align: center; */
}

#signatureimg {
    display: block;
    margin: auto;
}

a {
    margin: auto;
    color: mediumpurple;
}
